article{
    margin-top: 10%;
    margin: 0 auto;
    text-align: center;
    padding: 10%;
}

button{
    background-color: darkgrey;
    color: #fff;
    width: 200px;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}
div{
    display: none;
    padding-top: 5%;
    margin: 0 auto;
    text-align: center;
}
button:hover{
    background-color: darkblue;
}
button:hover + div{
    display:block;
}